<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ittime.linglingbo.modules.video.mapper.TblVideoViewersAgeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ittime.linglingbo.modules.video.model.TblVideoViewersAge">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="modified_time" property="modifiedTime" />
        <result column="deleted" property="deleted" />
        <result column="video_id" property="videoId" />
        <result column="group6_17" property="group617" />
        <result column="group18_24" property="group1824" />
        <result column="group25_30" property="group2530" />
        <result column="group31_35" property="group3135" />
        <result column="group36_40" property="group3640" />
        <result column="group41" property="group41" />
        <result column="age_max" property="ageMax" />
    </resultMap>

</mapper>
