<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ittime.linglingbo.modules.video.mapper.TblVideoReviewMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ittime.linglingbo.modules.video.model.TblVideoReview">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="modified_time" property="modifiedTime" />
        <result column="deleted" property="deleted" />
        <result column="video_id" property="videoId" />
        <result column="comment_user_img" property="commentUserImg" />
        <result column="comment_user" property="commentUser" />
        <result column="content" property="content" />
        <result column="liked" property="liked" />
        <result column="classification" property="classification" />
        <result column="price_related" property="priceRelated" />
        <result column="comment_time" property="commentTime" />
        <result column="influence" property="influence" />
    </resultMap>

</mapper>
