<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ittime.linglingbo.modules.industry.mapper.TblMusicUserIndustryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ittime.linglingbo.modules.industry.model.TblMusicUserIndustry">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="modified_time" property="modifiedTime" />
        <result column="deleted" property="deleted" />
        <result column="music_name" property="musicName" />
        <result column="industry" property="industry" />
        <result column="heat_degree" property="heatDegree" />
        <result column="use_number" property="useNumber" />
        <result column="user_image_url" property="userImageUrl" />
    </resultMap>

</mapper>
