HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/image
*.yml
.properties
README.md

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/

### Gradle ###
.gradle
!/src/main/resources/application-dev.yml
src/main/resources/application-dev.yml
src/main/resources/application-dev.yml
src/main/resources/application-dev.yml
src/main/resources/application-dev.yml
src/main/java/com/ittime/PRS/modules/client/service/impl/UmsAdminStreamerServiceImpl.java
