<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ittime.linglingbo.modules.task.mapper.TblTaskStreamerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ittime.linglingbo.modules.task.model.TblTaskStreamer">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="modified_time" property="modifiedTime" />
        <result column="deleted" property="deleted" />
        <result column="task_id" property="taskId" />
        <result column="auditor_owner_id" property="auditorOwnerId" />
        <result column="streamer_id" property="streamerId" />
        <result column="streamer_name" property="streamerName" />
        <result column="commission_percent" property="commissionPercent" />
        <result column="fee" property="fee" />
        <result column="operate_info" property="operateInfo" />
        <result column="remark" property="remark" />
        <result column="settle_money" property="settleMoney" />
        <result column="settle_remark" property="settleRemark" />
        <result column="complete_num" property="completeNum" />
        <result column="platform_commission" property="platformCommission" />
        <result column="task_detail_status" property="taskDetailStatus" />
    </resultMap>

</mapper>
