<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ittime.linglingbo.modules.client.mapper.UmsAdminOwnerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ittime.linglingbo.modules.client.model.UmsAdminOwner">
        <id column="id" property="id" />
        <result column="real_name" property="realName" />
        <result column="id_card" property="idCard" />
        <result column="certification" property="certification" />
        <result column="image_id" property="imageId" />
        <result column="account_balance" property="accountBalance" />
        <result column="industry" property="industry" />
        <result column="contact_name" property="contactName" />
        <result column="contact_tel" property="contactTel" />
        <result column="company_name" property="companyName" />
        <result column="deposit_status" property="depositStatus" />
        <result column="owner_desc" property="ownerDesc" />
    </resultMap>

    <update id="deposit">
        update ums_admin_owner set account_balance = account_balance + #{amount}
        where owner_name = #{userName}
    </update>

    <select id="incomeListAll" resultType="com.ittime.linglingbo.modules.ums.dto.UmsIncomeVO">
        select
            tbl_task.task_name,
            ums_admin_owner.owner_name,
            ums_admin_owner.company_name,
            tbl_task_goods.goods_name,
            tbl_task_streamer.commission_percent,
            tbl_task_streamer.streamer_name host_name,
            tbl_task_streamer.task_detail_status,
            tbl_task_streamer.settle_money,
            tbl_task_streamer.create_time
        from
            tbl_task_streamer
            left join tbl_task on tbl_task.id = tbl_task_streamer.task_id
            left join ums_admin_owner on tbl_task.owner_id = ums_admin_owner.id
            left join tbl_task_goods on tbl_task.id = tbl_task_goods.task_id
    </select>

    <select id="incomeList" resultType="com.ittime.linglingbo.modules.ums.dto.UmsIncomeVO">
        select
            tbl_task.task_name,
            ums_admin_owner.owner_name,
            ums_admin_owner.company_name,
            tbl_task_goods.goods_name,
            tbl_task_streamer.commission_percent,
            tbl_task_streamer.streamer_name host_name,
            tbl_task_streamer.task_detail_status,
            tbl_task_streamer.settle_money,
            tbl_task_streamer.create_time
        from
            tbl_task_streamer
            left join tbl_task on tbl_task.id = tbl_task_streamer.task_id
            left join ums_admin_owner on tbl_task.owner_id = ums_admin_owner.id
            left join tbl_task_goods on tbl_task.id = tbl_task_goods.task_id
        <if test="ownerName !='' and ownerName != null">
            where   owner_name LIKE concat( concat( "%", #{ownerName} ), "%" )
        </if>
        <if test="pageSize != null and offSet != null">
            limit #{offSet}, #{pageSize}
        </if>
    </select>

    <select id="incomeTotalCount" resultType="java.lang.Long">
        select
            count(*)
        from
            tbl_task_streamer
            left join tbl_task on tbl_task.id = tbl_task_streamer.task_id
            left join ums_admin_owner on tbl_task.owner_id = ums_admin_owner.id
            left join tbl_task_goods on tbl_task.id = tbl_task_goods.task_id
        <if test="ownerName !='' and ownerName != null">
            where   owner_name LIKE concat( concat( "%", #{ownerName} ), "%" )
        </if>
    </select>

    <select id="withdrawRecordOwner" resultType="com.ittime.linglingbo.modules.ums.dto.UmsWithdrawRecordVO">
        select
            tbl_client_withdraw_cash.id,
            tbl_client_withdraw_cash.company_name,
            withdraw_amount,
            card_num,
            person_name,
            withdraw_status,
            tbl_client_withdraw_cash.create_time,
            account_balance
        from
            tbl_client_withdraw_cash
            left join ums_admin_owner on tbl_client_withdraw_cash.client_id = ums_admin_owner.id
        where
            <if test="personName != null and personName != ''">
                person_name LIKE concat( concat( "%", #{personName} ), "%" ) and
            </if>
            role_id = 10
        <if test="pageSize != null and offSet != null">
            limit #{offSet}, #{pageSize}
        </if>
    </select>

    <select id="withdrawOwnerTotalCount" resultType="java.lang.Long">
        select
            count(*)
        from
        tbl_client_withdraw_cash
        left join ums_admin_owner on tbl_client_withdraw_cash.client_id = ums_admin_owner.id
        where
        <if test="personName != null and personName != ''">
            person_name LIKE concat( concat( "%", #{personName} ), "%" ) and
        </if>
        role_id = 10
    </select>

    <select id="withdrawRecordStreamer" resultType="com.ittime.linglingbo.modules.ums.dto.UmsWithdrawRecordVO">
        select
            tbl_client_withdraw_cash.id,
            tbl_client_withdraw_cash.company_name,
            withdraw_amount,
            card_num,
            person_name,
            withdraw_status,
            tbl_client_withdraw_cash.create_time,
            account_balance
        from
            tbl_client_withdraw_cash
            left join ums_admin_streamer on tbl_client_withdraw_cash.client_id = ums_admin_streamer.id
        where
            <if test="personName != null and personName != ''">
                person_name LIKE concat( concat( "%", #{personName} ), "%" ) and
            </if>
            role_id = 9
        <if test="pageSize != null and offSet != null">
            limit #{offSet}, #{pageSize}
        </if>

    </select>

    <select id="withdrawStreamerTotalCount" resultType="java.lang.Long">
        select
            count(*)
        from
            tbl_client_withdraw_cash
        left join ums_admin_streamer on tbl_client_withdraw_cash.client_id = ums_admin_streamer.id
        where
            <if test="personName != null and personName != ''">
                person_name LIKE concat( concat( "%", #{personName} ), "%" ) and
            </if>
            role_id = 9
    </select>

    <select id="getAccountBalance" resultType="java.math.BigDecimal">
        select
            account_balance
        from
            ums_admin_owner
        where
            id = #{clientId}
    </select>

    <update id="cutDown">
        update ums_admin_owner
        set account_balance = account_balance - #{withdrawAmount}
        where id = #{clientId}
    </update>
</mapper>
