<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ittime.linglingbo.modules.client.mapper.UmsAdminStreamerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ittime.linglingbo.modules.client.model.UmsAdminStreamer">
        <id column="id" property="id" />
        <result column="real_name" property="realName" />
        <result column="id_card" property="idCard" />
        <result column="certification" property="certification" />
        <result column="image_id" property="imageId" />
        <result column="account_balance" property="accountBalance" />
        <result column="industry" property="industry" />
        <result column="belong_to" property="belongTo" />
        <result column="streamer_desc" property="streamerDesc" />
    </resultMap>

    <select id="getAccountBalance" resultType="java.math.BigDecimal">
        select
            account_balance
        from
            ums_admin_streamer
        where
            id = #{clientId}
    </select>
    <select id="getImageId" resultType="java.lang.Long">
        select image_id
        from ums_admin_streamer
        where id=#{streamerId}
    </select>

    <update id="cutDown">
        update ums_admin_streamer
        set account_balance = account_balance - #{withdrawAmount}
        where id = #{clientId}
    </update>
</mapper>
